<!DOCTYPE html>
<div class="form-group">
    <select id="select-class" class="form-control">
        <option disabled selected hidden>Ziel auswählen</option>
        <% classes.forEach(function (element) { %>
            <% if (selectedClass.hasOwnProperty("name") && element.name === selectedClass.name) { %>
                <option selected><%= element.name %></option>
            <% }
            else { %>
                <option><%= element.name %></option>
            <% } %>
        <% }); %>
    </select>
</div>
<% if (selectedClass.hasOwnProperty("levels")) {%>
    <% selectedClass.levels.forEach(function(level, index){%>
        <%if (level.values && level.values.length > 0){%>
            <div class="form-group">
                <select class="form-control select-level" level="<%=index + 1%>">
                    <option disabled selected hidden><%=level.title%></option>
                    <% level.values.forEach(function (element) { %>
                        <% if (level.selectedValue && element === level.selectedValue) { %>
                            <option selected><%= element %></option>
                        <% }
                        else { %>
                            <option><%= element %></option>
                        <% } %>
                    <% }); %>
                </select>
            </div>
        <%}%>
    <%});%>
<%};%>
