#animation-add-on {
    select {
        width: 90%;
        display: inline-block;
    }
    .glyphicon-question-sign {
        width: 20px;
        height:20px;
        font-size: 20px;
        text-align: center;
        top: 5px;
        padding-left: 5px;
        cursor: pointer;
    }
}
