<!DOCTYPE html>
<div id="animation-add-on">
    <% filters.forEach(function (filter, index) { %>
        <% if (filter.hasOwnProperty("options") && filter.options.length > 0) { %>
            <span><%=filter.title%></span>
            <div class="form-group">
                <select class="form-control select-drop-down" index="<%=index%>">
                    <option disabled selected hidden><%=filter.defaultOptionText%></option>
                    <% filter.options.forEach(function (option) { %>
                        <% if (filter.selectedOption !== undefined && filter.selectedOption[filter.attr] === option[filter.attr]) { %>
                            <option selected><%= option[filter.attr] %></option>
                        <% }
                        else { %>
                            <option><%= option[filter.attr] %></option>
                        <% } %>
                    <% }); %>
                </select>
                <span class="glyphicon glyphicon-question-sign pull-right" title="<%=filter.helpText%>"/>
            </div>
        <% } %>
    <% }); %>
    <% if (topMost.isActive) { %>
    <span><%=topMost.title%></span>
    <div class="form-group">
        <select class="form-control select-top-most">
            <option disabled selected hidden><%=topMost.defaultOptionText%></option>
            <% topMost.options.forEach(function (option) { %>
                <% if (topMost.selectedOption !== undefined && topMost.selectedOption === option) { %>
                    <option value="<%= option %>" selected><%= topMost.optionPrefix + " " + option %></option>
                <% }
                else { %>
                    <option value="<%= option %>"><%= topMost.optionPrefix + " " + option %></option>
                <% } %>
            <% }); %>
        </select>
        <span class="glyphicon glyphicon-question-sign pull-right" title="<%=topMost.helpText%>"/>
    </div>
    <% } %>

    <% if (legend.length > 0) { %>
        <table class="table">
            <% legend.forEach(function(legendPart){ %>
                <tr>
                    <td>
                        <div class="form-group pull-left animation_legend" style="background-color:<%= legendPart.color %>"></div></td>
                    <td><%= legendPart.name %>: <%= legendPart.count %> <%=legendUnit%></td>
                </tr>
            <% }); %>
        </table>
    <% } %>
    <% if (showPlayButton) { %>
        <% if (animating === true) { %>
            <button class="btn btn-default pull-right stop">
                <span class="glyphicon glyphicon-stop"></span>&nbsp;Stop
            </button>
            <button class="btn btn-default pull-right reset">
                <span class="glyphicon glyphicon-trash"></span>&nbsp;Reset
            </button>
            <% }
            else { %>
                <button class="btn btn-default pull-right start">
                <span class="glyphicon glyphicon-play"></span>&nbsp;Start
            </button>
            <button class="btn btn-default pull-right reset">
                <span class="glyphicon glyphicon-trash"></span>&nbsp;Reset
            </button>
        <% } %>
    <%}%>
</div>
